# Dependencies
node_modules/

# Production build output
.next/
dist/
build/

# Local env files (Jangan sampai ke-push bray!)
.env
.env.local
.env.development.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*